h1{
    color:lime;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border:dotted;
    border-style:outset;
    padding:15px;
    border-top-color:brown;
    border-right-color:blueviolet;
    border-left-color:tomato;
    border-bottom-style:double;
    border-bottom-width:20px;
}
body{
    background-color:black
}
p{
    color: darkgrey;
}
