body{
    margin: 0px;
}
#sigma1{
    border: solid 5px;
    width: 240px;
    height: 240px;
    background-color: tomato;
    padding: 12px;
    border-radius: 8px;
    font-size: 18px;

    /*
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px; */
    
    /*
    margin: 30px; (It saves you alot of steps compared to the above one.) 
    */
    margin-left: 50%;
}
#sigma2{
    border: solid 5px;
    width: 240px;
    height: 240px;
    background-color: greenyellow;
    padding: 12px;
    border-radius: 8px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}