#box1{
    border: solid 0px;
    width: 250px;
    height: 250px;
    background-color: red;
    font-size: 220px;
    text-align: center;
    
    /*
    animation: 5s linear 0s infinite running transform; 
    animation: Adityabam;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-play-state: running;

    animation: 5s linear 0s infinite running Adityabam; (shortcut)
    */

    /*
    animation-timing-function: ease-in; (accelerates slowly)
    animation-timing-function: ease-out; (deaccelerates slowly)
    animation-timing-function: ease; (accelerates and then deaccelerates)
    animation-timing-function: linear; (constant or defult)
    */
}
/*
    #box1:hover{
    animation: 7s linear 0s infinite running Adityabam;
    #box1:active{
    animation: 5s ease 0s infinite running Adityabam;
*/
@keyframes transform{
    100%{transform: roatateX(360deg)}
}
    
@keyframes Adityabam{
    from{margin-left: 100%;}
    to{margin-left: 0%;}
}