#divid{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5em;
}
#roll{
    font-size: 70px;
    cursor: pointer;
    border-radius: 5px;
    background-color: powderblue;
    transition: background-color 0.25s;
    margin-top: 17%;
}
#roll:hover{
    background-color: blueviolet;
}
#result{
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
