#divid{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5em;
}
#roll{
    font-size: 70px;
    cursor: pointer;
    border-radius: 5px;
    background-color: powderblue;
    transition: background-color 0.25s;
}
#roll:hover{
    background-color: blueviolet;
}