body{
    background: linear-gradient(to left, red,brown)
}
h1{
    background: linear-gradient(to top, blue,green);
    background-repeat:no-repeat;
}
p{
    background: linear-gradient(to left, blue,green);
    background-repeat:no-repeat;
}