h1{
    color:lime;
    background: linear-gradient(to right, green, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body{
    background-image: url("centralpark.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
p{
    background: linear-gradient(to right, green, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}   